<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <title>gbg-website</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.6.2/viewer.min.css"
      integrity="sha512-8ZhoOdKiZafVRcEa08KcidOK/B85ByNOaWUiBXRi8kZ3pWUWJsBuY8sGBK6hZPWZhH35uXtFyRH/5DLTo2u6EQ=="
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/vue@2.4.3/dist/vue.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.6.2/viewer.min.js"
      integrity="sha512-VzJLwaOOYyQemqxRypvwosaCDSQzOGqmBFRrKuoOv7rF2DZPlTaamK1zadh7i2FRmmpdUPAE/VBkCwq2HKPSEQ=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/v-viewer@1.5.1/dist/v-viewer.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>

  <body class="photo_body">
    <!-- Navigation bar with different sections -->
    <main>
      <header>
        <nav>
          <a href="index.html">
            <img
              src="https://i.imgur.com/Us0d7iZ.png"
              alt="logo"
              class="logo"
            />
          </a>
          <ul class="text">
            <li>
              <a href="index.html">Hem</a>
            </li>
            <li>
              <a href="tour.html">Spelningar</a>
            </li>
            <li>
              <a href="photo.html">Foton</a>
            </li>
            <li>
              <a href="contact.html">Kontakt</a>
            </li>
          </ul>
          <ul class="logos">
            <li>
              <a
                href="https://www.facebook.com/search/top/?q=g%C3%B6teborgs%20nations%20husband&epa=SEARCH_BOX"
                target="_blank"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/gbghusband/?hl=sv"
                target="_blank"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav>
      </header>

      <div id="app">
        <div class="gallery">
          <div v-for="(album, index) in albums">
            <img
              :src="album.images[0]"
              crossorigin="anonymous"
              importance="high"
              width="500"
              class="album-cover"
              @click="show(index)"
            />
            <p>{{album.title}}</p>
            <div :class="[`album-${index}`]" v-viewer.static>
              <img v-for="src in album.images" :src="src" :key="src" hidden />
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer id="footer"></footer>
    <script src="vue.js" defer></script>
  </body>
</html>
