body
{
    margin: 0;
    font-family: sans-serif;
    font-weight: 300;
    background: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header 
{
    background: #3E5DBC;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
    margin: 35px;
}

nav ul
{
   margin: 0;
   padding: 0;
   list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: white;
}