:root {
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-darkblue: #1b1b32;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: var(--color-darkblue);
    background-image: url("https://i.imgur.com/B8Is1BV.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}



.container {
    width: 80%;
    margin: 0 auto;
}

header 
{
    background: var(--color-darkblue-alpha);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
    margin: 35px;
}

nav ul
{
   margin: 0;
   padding: 0;
   list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: white;
        position: absolute;
        top: 0;
        width: 0%;
        transition: all ease-in-out 250ms;
    }

nav a:hover::before {
    width: 100%;

}
nav a:hover {
    color: #E0E0E0;
    }